
.nav button{
	padding:10px 25px 10px 25px;
	color:white;
	border-radius:20px;
	background-color:#c70404;
	margin-left:90px;
	font-size:13px;
	font-family:Bradley Hand ITC;
}
h1{
	color:black;
	font-family:Chiller;
	font-size:60px;
}
button:hover{
	opacity:.7;
}
.dropdown-content{
	background-color:#e8eced;
	width:250px;
	position:absolute;	
	z-index:1;
	margin-top:15px;
	display:block;
	padding:30px;
	border:1px solid;
	display:none;
	box-shadow:2px 2px 2px 2px rgba(0,0,0.2)
}
.nav li:nth-child(5):hover .dropdown-content{
	display:block;
}
.body{
    height: auto;
    width: 100%;
    background-color:#eee;
    margin-top: 20px;
}
#para{
    font-size:50px;
	font-family:Lucida Handwriting;
}
#cont{
	font-size:30px;
	font-family:Tempus Sans ITC;
}
img{
	height:500px;
	width:100%;
}
.body .btn-book-tabel{
    text-decoration: none;
    color: black;
    padding:10px;
    color:white;
	font-family:Bradley Hand ITC;
    border-radius:20px;
    background-color:#c70404;
    font-size:15px;
}
.body a{
	font-size:20px;
	padding:10px;
	color:black;
	text-decoration:none;
}

.nav i{
	font-size: 15px;
	padding-right:7px;
}
.dropdown-content li i{
	font-size: 15px;
}
.body a:hover{
	color: red;
}
.fa-bars{
	display:none;
}


	
